@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./roboto-v20-latin-regular.woff2') format('woff2'),
    url('./roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./roboto-v20-latin-500.woff2') format('woff2'),
    url('./roboto-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./roboto-v20-latin-700.woff2') format('woff2'),
    url('./roboto-v20-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./roboto-v20-latin-500.woff2') format('woff2'),
    url('./roboto-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./roboto-v20-latin-700.woff2') format('woff2'),
    url('./roboto-v20-latin-700.woff') format('woff');
}
